<div class="container content">
  <p id="notice"><%= notice %></p>

  <h1>Representatives</h1>

  <% @representative_profiles.each do |representative_profile| %>
    <%= render 'profile', representative_profile: representative_profile %>
  <% end %>

  <br>

  <%= link_to 'New Representative profile', new_representative_profile_path %>
</div>