<div class="container content">
  <div class="row">
    <h2>About this project</h2>
  </div>
  <div class="row">
    <h3>This open source project is a result of the 2016 National Day of Civic Hacking by the <a href="http://civichackathens.com">Civic Hack Athens</a> team.</h3>
    <h3>It is currently maintained by the Developers of Athens meetup group, but we are always looking to work with other community organizations. Contact us at <a href="mailto:info@civichackathens.com">info@civichackathens.com</a></h3>
  </div>
</div>